<template>
  <section class="add-recipe">
    <div class="back-container">
      <div class="back ripple" v-on:click="backToRecipes">
        <span class="back-icon">&lt;</span> Terug naar je recepten
      </div>
    </div>
    <form @submit="storeRecipe" @keydown.enter.prevent.self ref="form">
      <div class="add-recipe__field">
        <label for="title">Hoe heet het recept?</label>
        <input type="text" required name="title" placeholder="Spaghetti Bolognese" class="add-recipe__input" v-model="title" />
      </div>

      <div class="add-recipe__field">
        <label for="description">Hoe zou je het recept omschrijven?</label>
        <textarea name="description" required placeholder="Spaghetti met tomatensaus, gehakt en knoflook" maxlength="500" class="add-recipe__input" v-model="description" />
      </div>

      <div class="add-recipe__field">
        <label for="description">Hoe lang duur het om het gerecht te maken?</label>
        <span class="add-recipe__time"><input name="time" type="number" required min="1" placeholder="10" class="add-recipe__input" v-model="time" /> minuten</span>
      </div>

      <div class="add-recipe__field">
        <label for="description">Welke afbeelding past bij het gerecht?</label>
        <bz-image-select name="logo" :images="images" v-model="logo" />
      </div>

      <div class="add-recipe__field">
        <label for="ingredients">Welke ingredienten heb je nodig?</label>
        <div v-for="(ingredient, index) in ingredients " :key="index" class="ingredient">
          <input type="text" required placeholder="Naam" v-model="ingredient.name" class="add-recipe__input ingredient__name" v-focus-on-creation />
          <input type="number" required min="0.1" step="0.1" placeholder="Hoeveelheid" v-model="ingredient.quantity" class="add-recipe__input ingredient__quantity" />
          <select class="add-recipe__input ingredient__unit" v-on:keyup.enter="addIngredient" v-model="ingredient.unit">
            <option v-for="(unit, index) in unitTypes" :key="index" :value="unit">{{unit}}</option>
          </select>
          <button class="fab ripple" type="button" v-on:click="remove(ingredients, index)" v-if="ingredients.length > 1">
            <div>×</div>
          </button>
        </div>
        <button type="button" class="secondary ripple" v-on:click="addIngredient">Voeg ingredient toe</button>
      </div>
      <div class="add-recipe__field">
        <label for="ingredients">Wat zijn de stappen?</label>
        <div v-for="(step, index) in steps" :key="index" class="step">
          <input type="text" required placeholder="Doe de spaghetti in de pan" v-model="step.description" class="add-recipe__input step__description" v-on:keyup.enter="addStep" v-focus-on-creation />
          <button class="fab ripple" type="button" v-on:click="remove(steps, index)" v-if="steps.length > 1">
            <div>×</div>
          </button>
        </div>
        <button type="button" class="secondary ripple" v-on:click="addStep">Voeg stap toe</button>
      </div>

      <div class="add-recipe__submit">
        <button type="submit" class="primary ripple">Klaar</button>
      </div>
    </form>
  </section>
</template>

<style lang="scss">
.add-recipe {
  width: 100%;
  max-width: 35rem;
}

.back-container {
  display: flex;
  margin: 1rem 0;
}

.back {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.back-icon {
  font-size: 1.5rem;
  color: #4abdac;
  margin-right: 0.3rem;
}

.add-recipe__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.add-recipe__field > label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.add-recipe__input {
  height: 1.5rem;
  border-radius: 3px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
}

textarea.add-recipe__input {
  resize: none;
  height: 5rem;
}

.add-recipe__input:focus {
  border: 1px solid #4abdac;
}

.add-recipe__time {
  font-size: 0.8rem;
}

.add-recipe__time > input {
  width: 2rem;
}

.ingredient,
.step {
  display: flex;
  margin-bottom: 0.5rem;
}

.ingredient > input,
.ingredient > select,
.step > input {
  min-width: 0;
  margin-right: 0.3rem;
}

.ingredient__name {
  flex: 3;
}

.ingredient__quantity {
  flex: 2;
}
.ingredient__unit {
  flex: 1;
  height: 1.75rem;
}

.step > .step__description {
  flex: 1;
}

.add-recipe__submit {
  display: flex;
  margin-top: 2rem;
}

.add-recipe__submit > button {
  flex: 1;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import vSelect from 'vue-select';
import { Store } from '@/model/Store';
import router from '@/router';
import { Ingredient } from '@/model/Ingredient';
import { Step } from '@/model/Step';
import { FocusOnCreation } from '@/directives/FocusOnCreation';
import { Recipe } from '@/model/Recipe';
import bzImageSelect from '@/components/recipes/BzImageSelect.vue';
import { Image } from '@/components/recipes/BzImageSelect.vue';
const UNIT_TYPES = ['theelepel', 'eetlepel', 'milliliter', 'gram', 'snufje'];
const DISH_IMAGES: string[] = [
  'chicken',
  'cocktail',
  'cola',
  'fish',
  'ice',
  'meat',
  'milkshake',
  'pancake',
  'pasta',
  'pizza',
  'rice',
  'sausage',
  'soup',
  'taco',
  'tea',
  'vegetables',
];

@Component({
  components: {
    vSelect,
    bzImageSelect,
  },
  directives: {
    FocusOnCreation,
  },
})
export default class BzAddRecipe extends Vue {
  public title: string = '';
  public description: string = '';
  public time: number = 0;
  public logo: string = '';
  public ingredients: Ingredient[] = [];
  public steps: Step[] = [];
  public unitTypes: string[] = UNIT_TYPES;
  public images: string[] = DISH_IMAGES;

  public mounted() {
    this.reset();
  }

  private reset() {
    this.title = '';
    this.description = '';
    this.ingredients = [];
    this.addIngredient();
    this.steps = [];
    this.addStep();
  }

  private backToRecipes() {
    router.push('/recepten');
  }

  private addIngredient() {
    this.ingredients.push({ name: '', quantity: 0, unit: 'eetlepel' });
  }

  private addStep() {
    this.steps.push({ description: '' });
  }

  private remove(arr: any[], index: number) {
    if (arr.length > 1) arr.splice(index, 1);
  }

  private storeRecipe(event: Event) {
    event.preventDefault();
    const recipe: Recipe = {
      title: this.title,
      description: this.description,
      ingredients: this.ingredients,
      logo: this.logo,
      timeInMinutes: this.time,
      steps: this.steps,
    };
    this.$store.commit('addRecipe', recipe);
    this.backToRecipes();
    return false;
  }
}
</script>
