<template>
  <div class="image-select">
    <div v-for="(image, index) in images" :key="index" class="image-select__option">
      <input type="radio" :id="image.id" :name="name" :value="image.path" v-model="localValue">
      <label :for="image.id" class="image-select__option-label">
        <img class="image-select__option-icon" :src="require(`@/assets/dishes/${image}.svg`)" />
      </label>
    </div>
  </div>
</template>

<style lang="scss">
.image-select {
  display: flex;
  flex-wrap: wrap;
}

.image-select__option > input:checked + label {
  background-color: #d4f7f2;
}

.image-select__option-label {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;
}

.image-select__option-label:hover {
  background-color: #e3eaec;
}

.image-select__option > input {
  display: none;
}

.image-select__option-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
</style>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';

@Component({
  props: ['images', 'name', 'value'],
})
export default class BzImageSelect extends Vue {
  @Prop(Array)
  private images!: Image[];
  private localValue: string = '';

  public mounted() {
    this.localValue = this.images[0].path;
  }

  @Watch('localValue')
  private valueChanged(value: string) {
    this.$emit('input', value);
  }
}

export interface Image {
  id: string;
  path: string;
}
</script>
