<template>
  <div class="recipes">
    <div class="no-recipes" v-if="recipes.length === 0">
      Je hebt nog geen recepten,voeg er een toe
    </div>

    <div class="recipes__list">
      <section class="recipe" v-for="(recipe, index) in recipes" :key="recipe._id" v-on:click="toRecipeDetails(recipe, index)">
        <h1 class="recipe__title">{{recipe.title}}</h1>
        <img class="recipe__logo" :src="recipe.logo" />
        <p>
          <span class="recipe__subtitle">{{recipe.timeInMinutes}}</span> minuten
        </p>
      </section>
      <section class="recipe add" v-on:click="addRecipe">
        +
      </section>
    </div>
  </div>
</template>

<style lang="scss">
.recipes {
  padding-top: 3rem;
}

.recipes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.recipe {
  width: 95%;
  @media screen and (min-width: 60rem) {
    width: 20rem;
  }
  height: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.recipe:hover {
  opacity: 0.8;
}

.recipe:nth-child(odd) {
  background-color: #3587a412;
}

.recipe:nth-child(even) {
  background-color: #4abdac26;
}

.recipe.add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.recipe__title,
.recipe__subtitle {
  font-weight: normal;
}

.recipe__title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.recipe__logo {
  width: 3rem;
  margin: auto;
  opacity: 0.3;
}

.recipe__subtitle {
  color: gray;
  font-size: 0.8rem;
  margin: 0 0.1rem;
}

@media screen and (min-width: 60rem) {
  .recipes__modal {
    height: 20rem;
  }
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Recipe } from '@/model/Recipe';
import BzAddRecipe from '@/components/recipes/BzAddRecipe.vue';
import router from '@/router';

@Component
export default class BzRecipes extends Vue {
  get recipes(): Recipe[] {
    return this.$store.state.recipes.recipes;
  }

  private addRecipe(): void {
    router.push('/recepten/nieuw');
  }

  private toRecipeDetails(recipe: Recipe, index: number): void {
    router.push(`/recepten/${recipe.title.replace(/\s/, '-')}/${index}`);
  }
}
</script>
