<template>
  <div class="recipe-details">
    <div>
      <h1 class="recipe-details__title">{{recipe.title}}</h1>
      <p class="recipe-details__time">{{recipe.timeInMinutes}} minuten</p>
      <p class="recipe-details__description">{{recipe.description}}</p>
    </div>
    <section class="recipe-details__content">
      <div class="recipe-details__ingredients">
        <div>
          <h2>Ingredienten</h2>
          <div v-for="(ingredient, index) in recipe.ingredients" :key="index" class="recipe-details__ingredient">
            <span class="recipe-details__ingredient-quantity">{{ingredient.quantity}} {{ingredient.unit}}</span>
            <span>{{ingredient.name}}</span>
          </div>
        </div>
      </div>
      <div class="recipe-details__steps">
        <div>
          <h2>Stappenplan</h2>
          <div v-for="(step, index) in recipe.steps" :key="index">
            <div>{{index + 1}}. {{step.description}}</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss">
.recipe-details {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-details__title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0;
}

.recipe-details__time {
  margin: 0;
  font-size: 0.9rem;
}

.recipe-details__description {
  margin-top: 1.5rem;
}

.recipe-details__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 50rem;
}

.recipe-details__ingredients > div > h2,
.recipe-details__steps > div > h2 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.recipe-details__ingredients,
.recipe-details__steps {
  flex: 1 0 100%;
  width: 100%;
}

.recipe-details__ingredient {
  display: flex;
}

.recipe-details__ingredient-quantity {
  margin-right: 0.3rem;
  color: #44ad9d;
}

@media screen and (min-width: 1200px) {
  .recipe-details__ingredients {
    margin-right: 2rem;
  }

  .recipe-details__ingredients,
  .recipe-details__steps {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
</style>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Recipe } from '@/model/Recipe';
import router from '@/router';

@Component
export default class BzRecipeDetails extends Vue {
  get recipe(): Recipe {
    return this.$store.state.recipes.recipes[this.$route.params.index] || {};
  }
  @Watch('recipe')
  private recipeChanged() {
    if (!Object.keys(this.recipe).length) router.replace('/recepten');
  }
}
</script>
