<template>
    <section class="list">
        <section class="list-nav">
          <bzStoreSelector/>
          <div class="list-nav__menu ripple not-selectable" v-on:click="toggleMenu($event)">
            ...
          </div>
          <nav class="list-nav__dropdown" v-bind:class="{open: menuOpen}">
            <div class="list-nav__triangle--left hidden-md-down">◀</div>
            <div class="list-nav__triangle--up hidden-md-up">▲</div>
            <div class="list-nav__dropdown-content" v-on:click="toggleMenu($event)">
              <div class="list-nav__dropdown-item ripple" v-on:click="clearList($event)">Leeg huidig lijstje</div>
              <div class="list-nav__dropdown-item ripple" v-on:click="clearAllLists($event)">Leeg alle lijstjes</div>
              <div class="list-nav__dropdown-item ripple" v-on:click="manageStores($event)">Beheer winkels</div>
            </div>
          </nav>
        </section>
        <section class="list-items" v-if="activeStore">
          <section
            v-for="item in activeStore.items" 
            :key="item.id" 
            class="list-item" 
            v-bind:class="{ done: item.done }"
            v-on:click="crossOut(item)">
              <div class="list-item__content">
                <div class="list-item__title">{{item.title | shorten}}</div>
                <div class="list-item__actions">
                  <button class="list-item__action fab ripple" v-if="item.done" v-on:click="restore(item, $event)">↺</button>
                </div>
              </div>
          </section>
          <section class="list-items__empty" v-if="!activeStore.items.length">
            Je hebt geen producten op dit lijstje staan
          </section>
        </section>
    </section>
</template>

<style lang="scss">
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  width: 30rem;
  max-width: 95%;
}

.list-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  position: relative;
}

// Menu
.list-nav__menu {
  position: relative;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.list-nav__menu-icon {
  width: 1rem;
}

.list-nav__dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0.5rem;
  flex-direction: column;
}

.list-nav__dropdown.open {
  display: flex;
}

.list-nav__triangle--up,
.list-nav__triangle--left {
  z-index: 2;
  color: #d5f7f2;
  font-size: 2rem;
  position: relative;
}

.list-nav__triangle--left {
  left: 7px;
}

.list-nav__triangle--up {
  text-align: right;
  top: 12px;
}

.list-nav__dropdown-content {
  padding: 0.7rem 1rem;
  background-color: #d5f7f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.list-nav__dropdown-item {
  padding: 0.4rem 0rem;
  cursor: pointer;
}

.list-nav__dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-nav__dropdown-item:hover {
  color: #1d5f56;
}

// Items
.list-items {
  width: 100%;
}

.list-items__empty {
  text-align: center;
  margin-top: 2rem;
}

.list-item {
  height: 3rem;
  background-color: #3587a412;
  cursor: pointer;
}

.list-item:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.list-item.done > .list-item__content > .list-item__title {
  text-decoration: line-through;
}

.list-item__content {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  height: 100%;
}

.list-item:not(:last-child) .list-item__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-item__title {
  flex: 1;
}

.list-item__amount {
  padding: 0 1rem;
  font-size: 0.8rem;
  color: gray;
}

.list-item__actions {
  display: flex;
}

button.list-item__action {
  margin: 0 0.2rem;
}

@media screen and (min-width: 60rem) {
  .list-nav__dropdown {
    right: -11rem;
    top: -0.2rem;
  }

  .list-nav__dropdown.open {
    flex-direction: row;
  }
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Item } from '@/model/Item';
import { Store } from '@/model/Store';
import { setTimeout } from 'timers';
import bzStoreSelector from '../navigation/BzStoreSelector.vue';
import router from '@/router';

@Component({
  components: {
    bzStoreSelector,
  },
  filters: {
    shorten: (val: string) => {
      return val.length <= 40 ? val : `${val.substring(0, 40)}...`;
    },
  },
})
export default class BzList extends Vue {
  get activeStore(): Store {
    return this.$store.state.store.activeStore;
  }

  set activeStore(store: Store) {
    this.$store.commit('setActiveStore', store);
  }

  get menuOpen(): boolean {
    return this.$store.state.common.modalsOpen.listOptions;
  }

  get items(): Item[] {
    return this.$store.state.store.items;
  }

  get stores(): Store[] {
    return this.$store.state.store.selectedStores;
  }

  // menu
  private toggleMenu(e: Event) {
    this.$store.commit('toggleModal', 'listOptions');
    e.stopPropagation();
  }

  private clearList(e: Event) {
    this.$store.commit('clearActiveList');
  }

  private clearAllLists(e: Event) {
    this.$store.commit('clearAllLists');
  }

  private manageStores(e: Event) {
    router.push('winkels');
  }

  // item management
  private restore(item: Item, event: Event): void {
    this.$store.commit('toggleItem', item.id);
    event.stopPropagation();
  }

  private crossOut(item: Item): void {
    if (!item.done) {
      this.$store.commit('toggleItem', item.id);
    } else {
      this.$store.commit('removeItem', item.id);
    }
  }
}
</script>
