<template>
    <section class="stores">
        <div class="stores__back-container">
          <div class="stores__back ripple" v-on:click="backToShoppingList">
              <span class="stores__back-icon">&lt;</span> Terug naar je boodschappenlijstje
          </div>
        </div>
        <div class="no-stores-notice">
          Ieder lijstje is gekoppeld aan een winkel, voeg een of meerdere winkels toe om lijstjes voor bij te houden.
        </div>
        
        <section class="store-selector">
            <v-select class="store-selector__select" :options="computedOptions" v-model="selectedStore"></v-select>
            <button class="primary ripple" v-on:click="addStore">VOEG TOE</button>
        </section> 

        <section class="store-list">
          <section
            v-for="store in selectedStores" 
            :key="store.id" 
            class="store">
              <div class="store__content">
                <div class="store__title">{{store.title}}</div>
                <div class="store__actions">
                  <div class="store__action ripple" v-on:click="removeStore(store)">X</div>
                </div>
              </div>
          </section>
        </section>
    </section>
</template>

<style lang="scss">
.stores {
  width: 30rem;
  max-width: 95%;
}

.stores__back-container {
  display: flex;
  margin: 1rem 0;
}

.stores__back {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.stores__back-icon {
  font-size: 1.5rem;
  color: #4abdac;
  margin-right: 0.3rem;
}

.no-stores-notice {
  margin-bottom: 0.5rem;
}

.store-selector {
  display: flex;
  font-size: 0.8rem;
}

.store-selector__select {
  border-radius: 20px;
  margin-right: 1rem;
  flex: 1;
}

// Stores
.store-list {
  margin-top: 1rem;
}

.store {
  height: 3rem;
  background-color: #3587a412;
}

.store:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.store__content {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  height: 100%;
}

.store:not(:last-child) .store__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.store__title {
  flex: 1;
}

.store__actions {
  display: flex;
}

.store__action {
  font-size: 1.2rem;
  background-color: #e3eaec;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  border-radius: 6px;
  margin: 0 0.2rem;
  cursor: pointer;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Store } from '@/model/Store';
import vSelect from 'vue-select';
import router from '@/router';

@Component({
  components: {
    vSelect,
  },
})
export default class BzStores extends Vue {
  private selectedStore: string = '';

  private mounted() {
    if (this.$store.state.store.stores.length === 0) {
      this.$store.dispatch('fetchStores');
    }
  }

  get computedOptions() {
    return this.stores ? this.getOptions() : [];
  }

  get stores(): Store[] {
    return this.$store.state.store.stores;
  }

  get selectedStores(): Store[] {
    return this.$store.state.store.selectedStores;
  }

  private addStore(): void {
    if (this.selectedStore) {
      this.$store.commit('selectStore', this.selectedStore);
      this.selectedStore = '';
    } else {
      // toast
    }
  }

  private removeStore(store: Store): void {
    this.$store.commit('unselectStore', store);
  }

  private getOptions() {
    return this.stores
      .filter((store: Store) => {
        return (
          this.selectedStores.findIndex(
            selectedStore => selectedStore._id === store._id,
          ) === -1
        );
      })
      .map(store => ({ label: store.title, value: store._id }));
  }

  private backToShoppingList() {
    if (this.selectedStores.length > 0) {
      router.push('/');
    } else {
      // toast
    }
  }
}
</script>
