/* Media hidden */
@media screen and (max-width: 60rem) {
  .hidden-md-down {
    display: none !important;
  }
}

@media screen and (min-width: 60rem) {
  .hidden-md-up {
    display: none !important;
  }
}

/* Button styling */
button.primary, button.secondary {
  border-radius: 2px;
  border: none;
  outline: none;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: .5rem .8rem;
  cursor: pointer;
}

button.primary:hover {
  background-color: #bffaf1;
}

button.secondary:hover {
  background-color: #dce2e4;
}

button.primary {
  background-color: #d5f7f2;
}

button.secondary {
  background-color: #e3eaec;
}

button.fab {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  background-color: #e3eaec;
}

button.fab:hover {
  background-color: #dce2e4;
}

button.fab:focus {
  outline: none;
}

/* Ripple */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.not-selectable {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
