<template>
  <header class="header">
    <!-- sm -->
    <div class="header__nav--sm ripple hidden-md-up" v-on:click="toggleDrawer">
      <img class="header__menu-icon" src="@/assets/menu.svg" />
    </div>
    <nav class="drawer" v-bind:class="{ open: drawerOpen}">
      <router-link class="drawer__link" to="/" v-on:click.native="toggleDrawer">Jouw lijstje</router-link>
      <router-link class="drawer__link" to="/aanbiedingen" v-on:click.native="toggleDrawer">Aanbiedingen</router-link>
      <router-link class="drawer__link" to="/recepten">Recepten</router-link>
    </nav>

    <!-- lg -->
    <nav class="header__nav--lg hidden-md-down">
      <div class="header__navsections">
        <section>
          <router-link class="header__link" to="/">Jouw lijstje</router-link> |
          <router-link class="header__link" to="/aanbiedingen">Aanbiedingen</router-link> |
          <router-link class="header__link" to="/recepten">Recepten</router-link>
        </section>
      </div>
    </nav>
    <section class="header__search" v-if="showSearchInput">
      <input class="header__searchinput" v-model="searchValue" placeholder="Wat wil je aan je lijstje toevoegen?" v-on:keyup.enter="_addItem" />
    </section>
  </header>
</template>

<style lang="scss">
.header {
  display: flex;
  flex-direction: column;
  background-color: #4abdac;
  height: 7rem;
}

// Header SM
.header__nav--sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.header__menu-icon {
  width: 1.8rem;
}

// Header LG
.header__nav--lg {
  display: flex;
  justify-content: center;
}

.header__navsections {
  max-width: 100rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: white;
}

.header__nav > section {
  flex: 1;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.header__search {
  text-align: center;
}

.header__searchinput {
  height: 2rem;
  width: 30rem;
  max-width: 95%;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  font-size: 0.9rem;
  text-indent: 0.5rem;
}

.header__searchinput:focus {
  border: 0;
  box-shadow: 0;
}

@media screen and (min-width: 60rem) {
  .header__search {
    padding-top: 1.5rem;
  }
}

// Drawer
.drawer {
  z-index: -1;
  position: fixed;
  left: -20rem;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.drawer.open {
  z-index: 2;
  left: 0;
  width: 20rem;
  max-width: 60%;
  background-color: white;
  height: 100vh;
}

.drawer__link {
  margin: 0.3rem 0.5rem;
  text-decoration: none;
  color: #2c3e50;
}
</style>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

@Component
export default class BzHeader extends Vue {
  private searchValue: string = '';

  get activeRoute(): string {
    return this.$store.state.common.activeRoute;
  }

  get showSearchInput(): boolean {
    return this.activeRoute === 'list';
  }

  get drawerOpen(): boolean {
    return this.$store.state.common.modalsOpen.drawer;
  }

  get modalOpen() {
    return this.$store.state.common.modalOpen;
  }

  private toggleDrawer(e: Event): void {
    this.$store.commit('toggleModal', 'drawer');
    e.stopPropagation();
  }

  private _addItem(): void {
    this.$emit('add-item', this.searchValue);
    this.searchValue = '';
  }
}
</script>