<template>
    <nav class="list-nav__stores">
        <div class="list-nav__store" v-for="store in stores" :key="store.id">
            <input 
                type="radio" 
                name="store" 
                :value="store" 
                v-model="activeStore"
                class="list-nav__store-option" 
                :id="store.title"
            >
            <label class="list-nav__store-label" :for="store.title">{{store.title}}</label>
        </div>
    </nav>
</template>

<style lang="scss">
.list-nav__stores {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-nav__store {
  position: relative;
  padding: 0 0.5rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.list-nav__store:hover {
  color: #2d776d;
}

.list-nav__store-title {
  padding: 0 0.25rem;
}

.list-nav__store:not(:last-child) {
  border-right: 1px solid #2c3e50;
}

.list-nav__store-option {
  display: none;
}

.list-nav__store-label {
  cursor: pointer;
}

.list-nav__store-option + .list-nav__store-label:after {
  content: '';
  width: calc(100% - 1rem);
  height: 3px;
  background: #4abdac;
  position: absolute;
  bottom: -4px;
  left: 0.5rem;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.list-nav__store-option:checked + .list-nav__store-label:after {
  transform: scaleX(1);
}

</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Store } from '@/model/Store';

@Component
export default class BzStoreSelector extends Vue {
  get stores(): Store[] {
    return this.$store.state.store.selectedStores;
  }

  get activeStore(): Store {
    return this.$store.state.store.activeStore;
  }

  set activeStore(store: Store) {
    this.$store.commit('setActiveStore', store);
  }

  private mounted() {
    if (this.stores.length > 0 && !this.activeStore) {
      this.activeStore = this.stores[0];
    }
  }
}
</script>
