<template>
  <section id="app">
    <bz-header class="app__header" v-on:add-item="addItem" />
    <section class="app__view">
      <router-view/>
    </section>
    <section class="backdrop" v-bind:class="{ open: modalOpen}" v-on:click="closeAllModals">
    </section>
  </section>
</template>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.app__header {
  align-self: stretch;
}

.app__view {
  width: 75rem;
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.backdrop.open {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.4;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BzHeader from '@/components/navigation/BzHeader.vue';
import '../public/generic.css';

@Component({
  components: {
    BzHeader,
  },
})
export default class App extends Vue {
  get modalOpen() {
    return this.$store.state.common.modalOpen;
  }

  private addItem(item: string): void {
    this.$store.commit('addItem', item);
  }

  private closeAllModals(): void {
    this.$store.commit('closeAllModals');
  }
}
</script>

