<template>
    <section class="offers">
        <bzStoreSelector/>
        <section class="offers-list">
            <section class="offer" v-for="offer in offers" :key="offer._id">
                <section class="offer__header">
                    <h2 class="offer__title">{{offer.title}}</h2>
                    <h4 class="offer__subtitle">{{offer.discountLabel}}</h4>
                </section>
                <section class="offer__price">
                    <span class="offer__price-item offer__price-item--regular">
                        <img class="offer__price-icon" src="@/assets/price-tag-regular.svg"/>
                        <span>€ {{offer.oldPrice | currency}}</span>
                    </span>
                    <span class="offer__price-item offer__price-item--discount">
                        <img class="offer__price-icon" src="@/assets/price-tag-discount.svg"/>
                        <span>€ {{offer.newPrice | currency}}</span>
                    </span>
                </section>
                <section class="offer__add">
                    <button class="offer__add-btn primary ripple" v-on:click="addToList(offer)">Zet op lijstje</button>
                </section>
            </section> 
        </section>
        <section class="no-offers" v-if="offers.length === 0">
          Er zijn geen aanbiedingen beschikbaar voor deze winkel
        </section>
    </section>
</template>

<style lang="scss">
.offers {
  padding-top: 3rem;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.offer {
  width: 95%;
  @media screen and (min-width: 60rem) {
    width: 20rem;
  }
  height: 15rem;
  display: flex;
  flex-direction: column;
}

.offer:nth-child(odd) {
  background-color: #3587a412;
}

.offer:nth-child(even) {
  background-color: #4abdac26;
}

.offer__header {
  text-align: center;
}

.offer__title,
.offer__subtitle {
  font-weight: normal;
}

.offer__title {
  font-size: 1.1rem;
}

.offer__subtitle {
  color: gray;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.offer__price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0.5rem;
  flex: 1;
}

.offer__price-item {
  display: flex;
  align-items: center;
}

.offer__price-item--regular {
  color: red;
}

.offer__price-item--discount {
  color: green;
}

.offer__price-icon {
  width: 2rem;
  height: 2rem;
}

.offer__add {
  text-align: center;
  padding-bottom: 1rem;
}

.offer__add-btn.primary {
  background-color: white;
}
</style>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import bzStoreSelector from '../navigation/BzStoreSelector.vue';
import { Offer } from '../../model/Offer';
import { Store } from '../../model/Store';

@Component({
  components: {
    bzStoreSelector,
  },
  filters: {
    currency: (val: number) => val ? val.toFixed(2) : '',
  },
})
export default class BzOffers extends Vue {
  private mounted() {
    this.$store.dispatch('fetchActiveStoreOffers');
  }

  get activeStore(): Store {
    return this.$store.state.store.activeStore;
  }

  get offers(): Offer[] {
    return this.$store.state.store.offers;
  }

  @Watch('activeStore')
  private activeStoreChanged(val: Store, oldVal: Store) {
    if (oldVal) {
      this.$store.dispatch('fetchActiveStoreOffers');
    }
  }

  private addToList(offer: Offer) {
    this.$store.commit('addItem', offer.title);
  }
}
</script>